<div style="margin: 20px;" class="grid-container">
    <h1 class="mat-h1">Empresa</h1>
    <mat-card class="dashboard-card" style="width: 80%;">
        <mat-card-content class="dashboard-card-content">
            <form [formGroup]="form" novalidate>
                <input matInput formControlName="id" style="display: none;">
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Nome Fantasia</mat-label>
                                <input matInput formControlName="nomeFantasia">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Razão Social</mat-label>
                                <input matInput formControlName="razaoSocial">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>CNPJ</mat-label>
                                <input matInput formControlName="cnpj" [textMask]="{mask: cnpjmask, guide: false}">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>CEP</mat-label>
                                <input matInput formControlName="cep" [textMask]="{mask: cepmask, guide: false}">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Endereço</mat-label>
                                <input matInput formControlName="endereco">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Bairro</mat-label>
                                <input matInput formControlName="bairro">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Cidade</mat-label>
                                <input matInput formControlName="cidade">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>UF</mat-label>
                                <input matInput placeholder="Ex: PA" formControlName="estado">
                                
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <table style="width: 50%;" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-select placeholder="Categoria" formControlName="categoria" [(value)]="categoriaId">
                                    <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                                        {{ categoria.nome }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div style="text-align:center;">
                    <button type="button" mat-raised-button (click)="voltar()" color="basic">Voltar</button>&nbsp;&nbsp;&nbsp;
                    <button type="button" mat-raised-button color="primary" [disabled]="form.invalid" (click)="salvar()">Salvar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>