<div style="margin: 20px;" class="grid-container">
    <h1 class="mat-h1">Evento</h1>
    <mat-card class="dashboard-card" style="width: 80%;">
        <mat-card-content class="dashboard-card-content">
            <form>

                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Nome</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Local</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Data de Inicio</mat-label>
                                <input matInput placeholder="Ex. dd/mm/yyyy" type="date">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Data Fim</mat-label>
                                <input matInput placeholder="Ex. dd/mm/yyyy" type="date">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <table class="full-width" cellspacing="0">
                    <tr >
                        <td >
                            <mat-form-field style="width: 50%;">
                                <mat-label>Valor</mat-label>
                                <input matInput placeholder="Ex. San Francisco">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div style="text-align:center;">
                     <button type="button" mat-raised-button (click)="voltar()" color="basic">Voltar</button>&nbsp;&nbsp;&nbsp;
                     <button type="button" mat-raised-button color="primary">Salvar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>