<div style="margin: 20px;" class="grid-container">
    <h1 class="mat-h1">Forma de Pagamento</h1>
    <mat-card class="dashboard-card" style="width: 50%;">
        <mat-card-content class="dashboard-card-content">
            <form class="example-form">

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Nome</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div style="text-align:center;">
                    <button type="button" mat-raised-button color="basic" (click)="voltar()">Voltar</button>&nbsp;&nbsp;&nbsp;
                    <button type="button" mat-raised-button color="primary">Salvar</button> </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>