<div style="margin: 20px;" class="grid-container">
    <h1 class="mat-h1">Inscrição</h1>
    <mat-card class="dashboard-card" style="width: 80%;">
        <mat-card-content class="dashboard-card-content">
            <form [formGroup]="form" novalidate>
                <input matInput formControlName="id" style="display: none;">

                <table style="width: 50%;" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Evento</mat-label>
                                <input type="text" matInput formControlName="evento" [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                    (optionSelected)="eventoSelecionado($event)">
                                    <mat-option *ngFor="let evento of eventosFiltrados | async" [value]="evento.nome"
                                        [id]="evento.id">
                                        {{evento.nome}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>

            <form [formGroup]="formParticipante" novalidate>
                <input matInput formControlName="id" style="display: none;">
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>CPF</mat-label>
                                <input matInput formControlName="cpf" [textMask]="{mask: cpfmask, guide: false}"
                                    (blur)="buscarParticipante()">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Nome Completo</mat-label>
                                <input matInput formControlName="nome" (blur)="gerarCracha();">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Crachá</mat-label>
                                <input matInput formControlName="cracha">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>CEP</mat-label>
                                <input matInput formControlName="cep" [textMask]="{mask: cepmask, guide: false}"
                                    (blur)="buscarEndereco();">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Endereço</mat-label>
                                <input matInput formControlName="endereco">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Bairro</mat-label>
                                <input matInput formControlName="bairro">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Cidade</mat-label>
                                <input matInput formControlName="cidade">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Estado</mat-label>
                                <input matInput placeholder="Ex: PA" formControlName="estado" maxlength="2">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-select placeholder="Categoria" formControlName="categoria" [(value)]="categoriaId">
                                    <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                                        {{ categoria.nome }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-label>Empresa</mat-label>
                                <input type="text" matInput formControlName="empresa" [matAutocomplete]="autoEmpresa">
                                <mat-autocomplete autoActiveFirstOption #autoEmpresa="matAutocomplete"
                                    (optionSelected)="empresaSelecionada($event)">
                                    <mat-option *ngFor="let empresa of empresasFiltradas | async"
                                        [value]="empresa.nomeFantasia" [id]="empresa.id">
                                        {{empresa.nomeFantasia}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                        <td style="width: 20px;">
                            <button type="button" mat-raised-button color="basic" (click)="empresaDialog();">
                                <span class="material-icons">add</span>
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div style="text-align:center;">
                <button type="button" mat-raised-button color="basic"
                    (click)="voltar()">Voltar</button>&nbsp;&nbsp;&nbsp;
                <button type="button" mat-raised-button color="primary"
                    [disabled]="form.invalid || formParticipante.invalid" (click)="salvar()">Salvar</button>
            </div>

        </mat-card-content>
    </mat-card>
</div>